<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h1>Page for REGISTRATION</h1>
    <h1>Access to this page doesn't require authentication</h1>
    <form action="/api/users" method="post">
        <p>Username:&nbsp<input id="username" name="username" type="text"></p>
        <p>Password:&nbsp<input id="password" name="password" type="password"></p>
        <p>Email:&nbsp<input id="email" name="email" type="email"></p>
        <button>Submit</button>
    </form>
</body>
</html>